.homepage{
    padding: 0px;
}

.homepage .container {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 1368px;
    max-height: 930px;
}

/* homepage 1 */
.page-one {
    width: 100vw;
    height: 930px;
    padding: 5% 10%;
    background: url('/images/home.png') no-repeat;
    background-position: center top;
    background-size: cover;
}

.page-one button {
    font-size: 36px;
    padding: 25px 80px;
    margin-top: 60px;
    color: #895F52;
    background-color: #FFE079;
}

/* homepage 2 */
.page-two {
    width: 100vw;
    height: 930px;
    padding: 3% 6%;
    background: url('/images/home-two.png') no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;
}

.page-two .pg-two-contents{
    padding: 2% 0%;
    max-width: 45%;
}

.page-two h1 {
    color: white;
}

.page-two div p{
    color: white;
    padding: 0px;
    font-size: 25px;
    width: 70%;
    margin: 0 auto;
}

.pg-two-imgs-mobile {
    display: none;
}

.page-two .pg-two-imgs {
    position: absolute;
    margin-bottom: 250px;
}

/* homepage 3 */
.page-three {
    width: 100vw;
    height: 930px;
    padding: 0px 6%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.page-three .centered-x {
    justify-content: space-between;
    height: 552px;
    text-align: center;
    max-width: 35%;
    margin-right: 90px;
    font-size: 25px;
}

.page-three h1 {
    font-size: 80px;
    margin-top: 10px;
}

.page-three p {
    text-align: left;
    width: 65%;
    margin: 40px 90px;
    font-weight: thin;
}

.page-three .centered-x img {
    position: absolute;
    margin-left: 26px;
}

.page-three .grid-two-two {
    width: 57%;
}

.page-three .grid-two-two img {
    padding: 0%;
    width: 500px;
}

.page-three button {
    font-size: 36px;
    padding: 25px 100px;
    margin-left: 20px;
    color: white;
    background-color: #5FD0DF;
}

.page-three .bg.label{
    display: none;
}

/* homepage 4 */
.page-four {
    width: 100vw;
    height: 700px;
    text-align: center;
    margin-bottom: 120px;
}

.mobile-display {
    display: none;
}

.page-four .page-four-title img {
    position: absolute;
    height: 120px;
}

.page-four h1 {
    font-size: 80px;
    width: 500px;
    padding-top: 5px;
    padding-right: 10px; 
}

.page-four .centered-x {
    flex-direction: row;
    min-width: 100%;
    padding: 0% 3%;
    margin: 10px 0;
}

.page-four .centered-x img {
    margin: 0px 10px;
}

/* homepage 5 */
.page-five {
    width: 100vw;
    height: 930px;
    padding: 5% 10%;
    background: url('/images/home-five.png') no-repeat;
    background-position: center top;
    background-size: cover;
}

.page-five > div {
    margin: 0 auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-five img {
    width: 80%;
}

.page-five h1 {
    margin-right: 400px;
    margin-top: 500px;
}

.page-five h1, 
.page-five h2, 
.page-five p {
    color: white;
}

.page-five p {
    margin-bottom: 20px;
    margin-left: 6px;
}

.page-five a{
    margin-bottom: 0px;
    width: 15%;
}


/* Menu Page */
.menu-page {
    background-color: #F9F6F5;
    background-size: cover;
}

.menu-page .container {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 50px;
}

.menu-page .container .selections {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.menu-page .functions {
    margin-right: 15px;
}

.menu-page .container .search-bar {
    display: flex;
    align-items: center;
    max-height: 60px;
    background: white;
    margin: 0 1%;
    padding: 8%;
    margin-bottom: 10%;
    border-radius: 20px;
    width: 300px;
    transform: translateX(-3px);
}

.menu-page .container .search-bar input {
    font-size: 18px;
}

.menu-page .container .search-bar button {
    width: 2em;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
    padding-bottom: 2px;
}

.menu-page .container .search-bar button img{
    width: 15px;
    height: 15px;
}

/* menu drop down */
@media (min-width: 391px) {
    .functions .dropdown-title .dropdown-content p {
        cursor: pointer;
        transform: translate(-2px, -4px);
        width: 101%;
        background-color: white;
        transition: 0.3s;
        padding: 10px 20px;
    }

    .functions .dropdown-title .dropdown-content {
        position: absolute;
        border-color: transparent;
    }
}

.functions .dropdown-title .dropdown .bg.flex {
    margin: 0;
    cursor: pointer;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.functions .dropdown-title p {
    padding: 0px 15px;
}

.functions .dropdown-title img {
    width: 30px;
    margin-right: 5px;
}

@media (min-width: 391px) {
    .menu-page .container .grid-two-two {
        width: 700px;
        gap: 10px 0;
    }
}

.menu-page .container .grid-two-two .bg {
    margin-top: 0;
    text-align: start;
    padding: 5%;
}

.menu-page .container .grid-two-two .bg > h3{
    padding-top: 3%;
    padding-left: 3.5%;
}


/* details */
.details {
    background-color: #F9F6F5;
}

@media (min-width: 391px) {
    .details .container .item-detail {
        padding-top: 1.25rem;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 60% 40%;
    }
    .details .container .item-detail .item-title {
        display: grid;
        align-items: center;
        grid-template-columns: 25% 75%;
    }
    .details .container .item-detail .item-title img {
        cursor: pointer;
    }
                        
    .details .container .item-detail .item-description>img {
        margin-top: 1%;
        height: 25rem;

    }
    .details .container .item-detail .item-description h1 {
        margin-top: 1%;
        font-size: 60px;
    }
    .details .container .item-detail .centered-x h2 {
        font-family: 'Lancelot';
        color: #595E70;
        font-size: 45px;
    }
}

.details .container .item-detail .item-description {
    display: flex;
    flex-direction: column;
    max-width: 85%;
}


.details .container .item-detail .tag-description {
    margin: 0 auto;
    width: 95%;
}

.details .container .item-detail .item-description .tag-price {
    display: flex; 
    margin: 0;
    justify-content: space-between;
    padding-bottom: 1%;
}

.details .selections {
    display: flex;
    align-items: end;
}

.bg.label {
    width: 80%;
    background-color: #C1DE6F;
    margin: auto;
    border-radius: 10px;
    transform: translateY(-50%);
}

.details .container > .grid-two-two {
    align-items: flex-start;
    max-width: 85%;
    margin: 50px auto;
    margin-top: 0px;
    gap: 8%;
    margin-bottom: 150px;
}

.details .container > .grid-two-two img{
    width: 100%;
    height: 300px;
}

.details .grid-two-two h3 {
    align-self: flex-start;
}


/* checkout */
.checkout {
    background-color: #e2e2e2;
    background-size: cover;
}

.checkout .container {
    max-width: 1100px;
    display: flex;
    justify-content: center;
}

.checkout .container .steps{
    width: 40%;
}

.checkout .container .steps .bg {
    text-align: start;
    padding: 4%;
}

.checkout .container .summary {
    width: 40%;
}

.checkout .container .summary .btn.disabled{
    cursor: not-allowed;
}

.checkout .container .summary .btn.disabled:hover{
    opacity: 1;
}

.checkout .container .steps .btn {
    margin-top: 2%;
    border-radius: 10px;
    min-width: 100%;
    min-height: 30px;
    text-align: center;
    background-color: #C1DE6F;
}

.checkout .container .steps .btn.white {
    background-color: white;
}

.checkout input {
    outline: solid;
    border-radius: 5px;
    outline-color: #BABABA;
    outline-width: 1px;
}


.total-purchase .btn {
    min-width: 45%;
}

.total-purchase .btn:hover {
    opacity: 1;
    cursor: not-allowed;
}

.total-purchase .btn.active {
    min-width: 45%;
    background-color: white;
    cursor: pointer;
}


.step.doing h4,
.step.done h4 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.step.doing input {
    margin-left: 5px;
    width: 97%;
    padding: 8px;
}

.step.doing {
    margin: 0 auto;
    padding: 0 auto;
}

.step.doing p,
.step.done p {
    margin-left: 5px;
    font-size: 13px;
}

.steps.step-1 > .bg-1 > .done,
.steps.step-1 > .bg-2 > .step,
.steps.step-1 > .bg-3 > .step,
.steps.step-1 > .bg-4 > .step,
.steps.step-2 > .bg-1 > .doing,
.steps.step-2 > .bg-2 > .done,
.steps.step-2 > .bg-3 > .step,
.steps.step-2 > .bg-4 > .step,
.steps.step-3 > .bg-1 > .doing,
.steps.step-3 > .bg-2 > .doing,
.steps.step-3 > .bg-3 > .done,
.steps.step-3 > .bg-4 > .step,
.steps.step-4 > .bg-1 > .doing,
.steps.step-4 > .bg-2 > .doing,
.steps.step-4 > .bg-3 > .doing,
.steps.step-4 > .bg-4 > .done {
    display: none;
}

.steps.step-2 > .bg.bg-1,
.steps.step-3 > .bg.bg-1,
.steps.step-3 > .bg.bg-2,
.steps.step-4 > .bg.bg-1,
.steps.step-4 > .bg.bg-2,
.steps.step-4 > .bg.bg-3 {
    cursor: pointer;
}